.container {
  width: 1000px;
  margin: 0 auto;
}

.title {
  display: flex;
  align-items: center; 
  margin-top: 20px;
}

.title h1 {
  font-size: 1.5rem;
  font-weight: 700;
}

.title img {
  width: 25px;
  height: 25px;
  margin-right: 8px;
}

.gifs-container {
  column-count: 4;
  column-gap: 10px;
  margin-top: 20px;
}

.gifs-container div {
  margin-bottom: 7px;
}

.gifs-container .gif {
  width: 100%;
  height: auto;
  border-radius: 4px;
}

.gifs-container img:hover ~ .gif-author-info {
  display: flex;
  align-items: center;
  font-weight: bold;
  position: absolute;
  bottom: 3px;
  left: 6px;
  font-size: 15px;
}

@media screen and (max-width: 1100px) {
  .container {
    width: 100%;
    padding: 0 20px;
  }
  .gifs-container {
    column-count: 3;
  }
}

@media screen and (max-width: 800px) {
  .gifs-container {
    column-count: 2;
  }
}





